langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
langchain_text_splitters
langchain_Openai
chromadb
faiss-cpu
streamlit
langchain_groq
langchain-chroma
langchain_Huggingface
sentence-transformers
arxiv
wikipedia
duckduckgo-search
tavily-python
mysql-connector-python
SQLAlchemy
langchain_google_genai
langgraph
cassio
cassandra-driver
sounddevice
soundfile
numpy
openai
langdetect
textblob
gtts